
h1 {
    text-align: center;
    background-color: hsl(313, 59%, 25%);
}

body {
    background: #eb972a;
    width: 70%;
    height: 70%; 
 
}

body {
    position: relative;
    margin: 0 auto;
} 

main {
    background-color:#D3EFBD;
    display: flex;
    height: 800px;
    border: 3px solid black;
}

img {
    width: 300px;
    height: 300px;
    margin-left: 30%;
    margin-top: 15px;
    border-radius: 50%;
    border: 3px dotted hsl(29, 91%, 54%);
    
}

h3 {
    padding: 10px;
    margin: 15px;
    border: 3px solid rgb(206, 181, 167);
    text-align: center;
}

p {
    padding: 10px;
    margin: 15px;
    height: 350px;
    background-color: hsl(172, 39%, 38%);
    text-align: center;
}

#leftside {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
   
}

#rightside {
    width: 35%;
    display: inline-block;
    background-color: rgb(206, 181, 167);
    margin: 5%;
   
    
    
} 

#lastcolumn {
    margin-top: 5px;
    width:100%;
    text-align:center;
    height: 600px;
    
}

#lastcolumn a {
    display: block; 
    margin: 30%;
}

.tinyplane {display: inline-block;
    width: 150px;
    height: 150px;


}

footer {
    text-align: right;
    padding: 5px;
    background-color: lightseagreen;
    /* font-size: 20px; */
}  

h6 {
    font-size: 20px;
}

